<% @listings.each do |listing|%>
<h1><%= link_to "#{listing.street_address}", listing_path(listing) %></h1>
<%= listing.city %>,
<%= listing.state %>
<br>
<h3>Listed Price: $<%= number_with_delimiter(listing.price, :delimiter => ',') %></h3>
<hr>
<% end%>